<h3>{{title}}</h3>
<hr>
<nav>
    <a [routerLink]="['/pagina-principal']" [routerLinkActive]="['activado']">
        Home
    </a>
    -
    <a [routerLink]="['/fruta']" [routerLinkActive]="['activado']">
        Fruta
    </a>
    -
    <a [routerLink]="['/empleado']" [routerLinkActive]="['activado']">
        Empleado
    </a>
    -
    <a [routerLink]="['/contact']" [routerLinkActive]="['activado']">
        Contact
    </a>
</nav>
<hr>
<!-- <app-fruta></app-fruta> -->
<!-- <empleado-tag></empleado-tag> -->
<router-outlet></router-outlet>