<h3 style="color: orange;">{{titulos}}</h3>

<hr/>
<h3>Selector de colores:</h3>
<button (click)="logColorSeleccionado()">Imprimir color</button>
<input type="text" [(ngModel)]="color_seleccionado"/>
<!-- ngStyle with attributes-->
<pre [style.border]="color_seleccionado == 'red' ? '5px solid black' : '1px solid green'"
 [ngClass]="{
    fondoAzul: color_seleccionado == 'blue',
    fondoVerde: color_seleccionado == 'green',
 }" > 
    <strong>Color elegido:</strong>
    {{color_seleccionado}}
</pre>
<!-- [class.fondoAzul]="color_seleccionado == 'blue'" -->
<!-- ngStyle with directives -->
<div [ngStyle]="{background:color_seleccionado, 'width': '200px', 'heigth':'300px',
'float':'right', 'margin-right':'69%', 'padding':'40px'}"></div>

<div style="clear: both"></div>

    <h3>Colores switch</h3>
    <ul [ngSwitch]="color">
        <li *ngSwitchCase="'red'" [ngStyle]="{background:color, 'color': 'white', 'padding':'30px'}">Es de color ROJO</li>
        <li *ngSwitchCase="'green'" [ngStyle]="{background:color, 'color': 'white', 'padding':'10px'}">Es de color VERDE</li>
        <li *ngSwitchCase="'blue'" [ngStyle]="{background:color, 'color': 'white', 'padding':'40px'}">Es de color AZUL</li>

<hr/>

<strong>Empleado estrella:</strong>
<br/>
<br/>

<div *ngIf="trabajador_externo == true">
<button (click)="cambiarExterno(false)">Mostrar empleado</button>
<ul>
    <li>{{trabajadores[0].nombre}}</li>
    <li>{{trabajadores[0].edad}}</li>
    <li>{{trabajadores[0].cargo}}</li>
    <li *ngIf="trabajadores[0].contratado == true">Esta contratado</li>
    <li *ngIf="trabajadores[0].contratado == false"> No esta contratado</li>
</ul>
</div>




<div *ngIf="trabajador_externo == false">
<button (click)="cambiarExterno(true)">Mostrar trabajador</button>
<ul>
    <li>{{empleado.nombre}}</li>
    <li>{{empleado.edad}}</li>
    <li>{{empleado.cargo}}</li>
    <li *ngIf="empleado.contratado == true">Esta contratado</li>
    <li *ngIf="empleado.contratado == false"> No esta contratado</li>
</ul>
</div>

<hr/>

<h3>Listado de empleados</h3>
<ul>
    <li *ngFor="let empleado of trabajadores; let i = index"> 
        <strong> Empleado {{i+1}}: </strong>
        <ul>
            <li>{{empleado.nombre}}</li>
            <li>{{empleado.edad}}</li>
            <li>{{empleado.cargo}}</li>
            <li *ngIf="empleado.contratado == true">Esta contratado</li>
            <li *ngIf="empleado.contratado == false"> No esta contratado</li>
        </ul> 
    </li> 
</ul>



<!-- <div *ngFor="let persons of personas; let i= index">{{personas[i]}}</div> -->