<h3 style="color: orange;">{{titulos}}</h3>

<strong>Empleado estrella:</strong>
<br/>
<br/>

<div *ngIf="trabajador_externo == true">
<button (click)="cambiarExterno(false)">Mostrar empleado</button>
<ul>
    <li>{{trabajadores[0].nombre}}</li>
    <li>{{trabajadores[0].edad}}</li>
    <li>{{trabajadores[0].cargo}}</li>
    <li *ngIf="trabajadores[0].contratado == true">Esta contratado</li>
    <li *ngIf="trabajadores[0].contratado == false"> No esta contratado</li>
</ul>
</div>

<div *ngIf="trabajador_externo == false">
<button (click)="cambiarExterno(true)">Mostrar trabajador</button>
<ul>
    <li>{{empleado.nombre}}</li>
    <li>{{empleado.edad}}</li>
    <li>{{empleado.cargo}}</li>
    <li *ngIf="empleado.contratado == true">Esta contratado</li>
    <li *ngIf="empleado.contratado == false"> No esta contratado</li>
</ul>
</div>

<h3>Listado de empleados</h3>
<ul>
    <li *ngFor="let empleado of trabajadores; let i = index"> 
        <strong> Empleado {{i+1}}: </strong>
        <ul>
            <li>{{empleado.nombre}}</li>
            <li>{{empleado.edad}}</li>
            <li>{{empleado.cargo}}</li>
            <li *ngIf="empleado.contratado == true">Esta contratado</li>
            <li *ngIf="empleado.contratado == false"> No esta contratado</li>
        </ul> 
    </li> 
</ul>