body{
    background-color: palevioletred;
}

.fondoAzul{
    background: lightblue;
}

.fondoVerde{
    background: lightgreen;
}

.letraGrande{
    font-size: 40px;
}

.activado{
    font-weight: bold;
    background: yellow;
}